/* Google Font CDN Link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NAV Section */

.sidebar {
    background: #11101d;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    padding: 6px 14px;
    transition: all 0.4s ease;
    width: 78px;
    z-index: 20;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    align-items: center;
    color: #fff;
    display: flex;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    width: 100%;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1em;
}

.sidebar #btn {
    color: #fff;
    font-size: 25px;
    height: 50px;
    left: 55%;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 6px;
    transform: translate(-50%);
    width: 50px;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    height: 50px;
    line-height: 50px;
    list-style: none;
    margin: 0 5px;
    position: relative;
    width: 100%;
}

.sidebar ul li .tooltip {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: block;
    opacity: 0;
    height: 35px;
    left: 122px;
    line-height: 35px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    top: 0;
    transition: 0s;
    transform: translate(-50%, -50%);
    width: 122px;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
    transition: all 0.4s ease;
}

.sidebar ul li a {
    align-items: center;
    border-radius: 12px;
    color: #fff;
    display: flex;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;
}

.sidebar ul li i {
    border-radius: 12px;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content {
    background: #1d1b31;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
}

.sidebar .profile_content .profile{
    background: none;
    height: 70px;
    padding: 10px 6px;
    position: relative;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}


.profile_content .profile .profile_details {
    align-items: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    border-radius: 12px;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 16px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 13px;
}

.profile #log_out {
    background: none;
    border-radius: 12px;
    bottom: 5px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
    transition: all 0.4s ease;
    transform: translate(-50%);
}

.sidebar.active .profile #log_out {
    background: #1d1b31;
    left: 88%;
}

/* Fin NAV Section CSS */


.sidebar.active ~ .home-content {
    width: calc(100% - 240px);
    left: 240px;
}

/* HOME Section CSS */

.home-content {
    background: url('/images/laptop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 78px;
    transition: all 0.5s ease;
    width: 100%
}

.home-content .text {
    background-color: rgba(0, 0, 0, .50);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0%;
    padding-left: 15vw;
    width: 100%;
}

.home-content .text .text-one {
    font-size: 2.5em;
    font-family: 'Ubuntu', sans-serif;
}

.home-content .text .text-two {
    animation: typing 2s steps(10), blink .5s infinite step-end alternate;
    border-right: 4px solid;
    display: block;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: 9.5ch;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.home-content .text .text-three {
    font-size: 1.8em;
    font-family: 'Ubuntu', sans-serif;
}

.home-content .text .text-four {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
}

.home .button {
    margin: 14px 0;
}

.home .button a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.home .button button {
    outline: none;
    background-color: #11101d;
    font-size: .8em;
    font-weight: 500;
    padding: 1em 1.5em;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.home .button button:hover{
    background-color: #fff;
    border-color: #11101d;
}

.home .button button:hover a {
    color: #1d1d1d;
    font-family: 'Ubuntu', sans-serif;
}

/* Fin HOME Section CSS */


/* ABOUT ME Section CSS  */
.about {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	background-color: #1d1d1d;
	font-family: "Montserrat";
}

.container {
	min-width: 800px;
	min-height: 350px;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}
.content h1 {
	position: relative;
}
.content p {
	margin-top: 50px;
	line-height: 2em;
}
.content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #fff;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-color: #1D1110;
}
.back {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-color: #1D1110;
}

.container.active {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


form {
	text-align: left;
}

.back h1 {
	margin: 0;
}

form label,
form input {
	display: block;
}

form input,
form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #444;
	padding: 5px;
	width: 100%;
	color: #fff;
}

form label {
	margin: 15px 0;
}

form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}


.about button {
    background-color: #11101d;
    border: 3px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-size: .8em;
    font-weight: 500;
    outline: none;
    margin-top: 25px;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: all 0.4s ease;
}

.about button:hover{
    background-color: #fff;
    border-color: #11101d;
    color: #1d1d1d;
    font-family: 'Ubuntu', sans-serif;

}

/* Fin de ABOUT ME Section CSS  */


/* Responsive Media Query CSS */
@media (max-width: 540px) {
    .sidebar.active {
        width: 100%;
        z-index: 10;
    }
    
    .sidebar.active .nav-list {
        position: absolute;
        left: 0;
        top: 0;
        height: 80vh;
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .sidebar.active .logo_content .logo {
        border-bottom: 2px solid #1d1b31;
        margin-right: 8px;
        margin-left: 15px;
    }

    .sidebar.active  .logo_content .logo i {
        font-size: 2rem;
    }

    .sidebar.active .logo_content .logo .logo_name {
        font-size: 2rem;
    }

    .sidebar.active #btn {
        font-size: 2rem;
    }

    .sidebar ul li i {
        font-size: 1.5rem;
    }

    .sidebar.active .links_name {
        font-size: 1.6rem;
    }

    .home-content .text {
        align-items: center;
    }
}
