/* Google Font CDN Link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* NAV Section */

.sidebar {
    background: #11101d;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    padding: 6px 14px;
    transition: all 0.4s ease;
    width: 78px;
    z-index: 20;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    align-items: center;
    color: #fff;
    display: flex;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    width: 100%;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1em;
}

.sidebar #btn {
    color: #fff;
    font-size: 25px;
    height: 50px;
    left: 55%;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 6px;
    transform: translate(-50%);
    width: 50px;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    height: 50px;
    line-height: 50px;
    list-style: none;
    margin: 0 5px;
    position: relative;
    width: 100%;
}

.sidebar ul li .tooltip {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: block;
    opacity: 0;
    height: 35px;
    left: 122px;
    line-height: 35px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    top: 0;
    transition: 0s;
    transform: translate(-50%, -50%);
    width: 122px;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
    transition: all 0.4s ease;
}

.sidebar ul li a {
    align-items: center;
    border-radius: 12px;
    color: #fff;
    display: flex;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;
}

.sidebar ul li i {
    border-radius: 12px;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content {
    background: #1d1b31;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
}

.sidebar .profile_content .profile{
    background: none;
    height: 70px;
    padding: 10px 6px;
    position: relative;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}


.profile_content .profile .profile_details {
    align-items: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    border-radius: 12px;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 16px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 13px;
}

.profile #log_out {
    background: none;
    border-radius: 12px;
    bottom: 5px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
    transition: all 0.4s ease;
    transform: translate(-50%);
}

.sidebar.active .profile #log_out {
    background: #1d1b31;
    left: 88%;
}

.home-content {
    height: 100%;
    left: 78px;
    position: absolute;
    transition: all 0.5s ease;
    width: calc(100% - 78px);
}

.home-content .text {
    color: #1d1b31;
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}

.sidebar.active ~ .home-content {
    width: calc(100% - 240px);
    left: 240px;
}
/* Fin NAV Section CSS */


/* HOME Section CSS */

.home {
    height: 100vh;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
    height: 100%;
    min-width: inherit;
    display: flex;
    flex-direction: column;
    background: url('/images/laptop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-content .text {
    background-color: rgba(0, 0, 0, .50);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0%;
    padding-left: 5vw;
    width: 100%;
}

.home-content .text .text-one {
    font-size: 2em;
}

.home-content .text .text-two {
    animation: typing 2s steps(10), blink .5s infinite step-end alternate;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    font-size: 3em;
    font-weight: 600;
    overflow: hidden;
    width: 9.2ch;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.home-content .text .text-three {
    font-size: 1.2em;

}

.home-content .text .text-four {
    font-size: 2em;

}


/* Fin HOME Section CSS */


/* Responsive Media Query CSS */
@media (max-width: 540px) {
    .sidebar.active {
        width: 100%;
        z-index: 10;
    }
    
    .sidebar.active .nav-list {
        position: absolute;
        left: 0;
        top: 0;
        height: 80vh;
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .sidebar.active .logo_content .logo {
        border-bottom: 2px solid #1d1b31;
        margin-right: 8px;
        margin-left: 15px;
    }

    .sidebar.active  .logo_content .logo i {
        font-size: 2rem;
    }

    .sidebar.active .logo_content .logo .logo_name {
        font-size: 2rem;
    }

    .sidebar.active #btn {
        font-size: 2rem;
    }

    .sidebar ul li i {
        font-size: 1.5rem;
    }

    .sidebar.active .links_name {
        font-size: 1.6rem;
    }
}
